body{
    background-color: aquamarine;
}
#score{
    margin-left: 15px;
    font-size: 20px;
}
#timer{
    float: center;
    font-size: 20px;
}
#sketch_name{
    float: center;
    color: orange;
}